<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
   
	<property name="USER_HOME" value="/data/hcp/logs" />
	<property name="pattern"
		value="%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level [%class] %msg%n" />

	<!-- Appender's -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout>
			<pattern>${pattern}</pattern>
		</layout>
	</appender>

	<appender name="ROOT_FILE"	class="ch.qos.logback.core.FileAppender">
		<file>${USER_HOME}/hcp.log</file>
		<!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
			<!--<fileNamePattern>${USER_HOME}/soros-batch.%d{yyyy-MM-dd}.log-->
			<!--</fileNamePattern>-->
			<!--<timeBasedFileNamingAndTriggeringPolicy-->
				<!--class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
				<!--<maxFileSize>1024MB</maxFileSize>-->
			<!--</timeBasedFileNamingAndTriggeringPolicy>-->
<!-- 			<maxHistory>30</maxHistory> -->
		<!--</rollingPolicy>-->
		<layout>
			<pattern>${pattern}</pattern>
		</layout>
	</appender>

	<appender name="ERROR_FILE"  class="ch.qos.logback.core.FileAppender">
		<file>${USER_HOME}/hcp-error.log</file>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
			<!--<fileNamePattern>${USER_HOME}/soros-batch-error.%d{yyyy-MM-dd}.log-->
			<!--</fileNamePattern>-->
			<!--<timeBasedFileNamingAndTriggeringPolicy-->
					<!--class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
				<!--<maxFileSize>1024MB</maxFileSize>-->
			<!--</timeBasedFileNamingAndTriggeringPolicy>-->
			<!-- 			<maxHistory>30</maxHistory> -->
		<!--</rollingPolicy>-->
		<layout>
			<pattern>${pattern}</pattern>
		</layout>
	</appender>

	<root level="info">
		<appender-ref ref="ROOT_FILE"></appender-ref>
		<appender-ref ref="CONSOLE"></appender-ref>
		<appender-ref ref="ERROR_FILE"></appender-ref>
	</root>
    
    <logger name="jdbc.connection" level="INFO"/>
    <logger name="jdbc.audit" level="OFF"/>
    <logger name="jdbc.sqlonly" level="OFF"/>
    <logger name="jdbc.sqltiming" level="INFO"/>
    <logger name="jdbc.resultset" level="OFF"/>

    <logger name="mybatis" level="INFO"/>
    <logger name="java.sql.Connection" level="ERROR" />
    <logger name="jdbc.audit" level="ERROR" />
    <logger name="jdbc.resultset" level="ERROR" />
    <logger name="jdbc.sqlonly" level="ERROR" />
    <logger name="jdbc.connection" level="ERROR" />
    <logger name="java.sql.Statement" level="INFO" />
    <logger name="java.sql.PreparedStatement" level="INFO" />
    <logger name="org.apache.zookeeper" level="INFO" />
</configuration>
